.container{
    display: flex;
}


.book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 700px;
    width: 500px;
    z-index: 10;
    position: absolute;
    top:10px;
    right:1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.book2{
    background-color: brown;
    position: relative;
    z-index: 1;
    height: 720px;
    width: 510px;
}



.book3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 700px;
    width: 500px;
    z-index: 10;
    position: absolute;
    top:10px;
    left:1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.book4{
    background-color: brown;
    position: relative;
    z-index: 1;
    height: 720px;
    width: 510px;
}


.image{
    position: absolute;
    top: 450px;
    left: 30px;
    opacity: 0.5;
}

.image2{
    position: absolute;
    top: 450px;
    right: 30px;
    opacity: 0.5;
    transform: scaleX(-1);
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.5rem;
    color: rgb(63, 10, 10);
}



.name{
    font-size: 2.5rem;
}
