@keyframes appear {
    0%{
        transform: translateY(-100px);
    }

    100%{
        transform: translateY(0);
    }
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(36, 36, 36, 0.364); /* Hacer que el fondo sea semi-transparente */
  backdrop-filter: blur(10px); /* Aplicar el desenfoque */
  width: 500px;
  height: 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: none;
  animation: appear 1s ease-in-out ;
  z-index: -10;
}


.container input{
    border: none;
    background: none;
    border-bottom: 2px solid white;
    margin-right: 10px;
    font-size: 1.1rem;
    color: white;
    &:focus{
        outline: none;
    }
}


.lupe{
    color: white;
    width: 30px;
    height: 30px;
    transition: all 0.2s ease-in;
    &:hover{
        color: rgb(136, 216, 250);
    }
}