.container {
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 900px;
  background-color: #4682b4;
  z-index: 1000;
}

@media screen and (max-width: 550px) {
  .container {
    flex-direction: column;
    gap: 0px;
    padding-top: 10px;
  }
  .navItem {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    gap: 0px;
    padding-top: 10px;
  }
  .navItem {
    text-align: center;
  }
}

.icon {
  width: 40px;
  height: 40px;
  color: rgb(239, 251, 255);
}

.navItems {
  display: flex;
  gap: 30px;
  font-size: 1.5rem;
  color: rgb(241, 251, 255);
}

.navItem {
  color: white;
  transition: all 0.2s ease-in;
  text-decoration: none;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}


.active{
  border-bottom: 3px solid rgb(255, 255, 255);
}

a {
  text-decoration: none;
}
