.container {
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 900px;
  background-color: #4682b4;
  z-index: 1000;
}

.icon {
  width: 40px;
  height: 40px;
  color: rgb(239, 251, 255);
}

.navItems {
  display: flex;
  gap: 30px;
  font-size: 1.5rem;
  color: rgb(241, 251, 255);
}

.navItem {
  color: white;
  transition: all 0.2s ease-in;
  text-decoration: none;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}
